

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#gamecontainer{
    width:100%;
    height:500px;
}
#picture{
    height: 322px!important;
    width:50%!important;
}
#picture img{
    width:100%;
}
#map{
    height: 322px!important;
    width:50%!important;
}

#finish #resultmap{
    background-color: red;
    height: 250px!important;
    width:50%!important;
}
#finish .points,.totalpoints {
    font-weight: bold;
}
