

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body {
    margin: 0;
    height: 100%;
}
#wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
#maincontent{
    display: table-row;
    height: 100%;
}
#maincontent .jumbotron {
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
#footer{
    width: 100%;
    padding: 20px;
    border-top: 1px solid #333;
}
#gamecontainer{
    width:100%;
    /* height:500px; */
    padding-top: 30px;
}
#gamecontainer .largebutton{
    padding-top: 15px;
}
.largebutton.nopad{
    padding-left:0;
    padding-right: 15px;
}
#picture{
    height: 322px!important;
    width:50%!important;
    overflow:hidden;
    padding-left:0;
}
#picture img{
    width:100%;
}
#map{
    height: 322px!important;
    width:50%!important;
}

#start {
    background: url(../img/bg.jpg) bottom center;
    background-size: cover;
    color: white;
}
#start #choosecategory {
    width: auto;
    margin: 0 auto;
}
#start .row, #start .row div {
    height: 100%;
}
#start .row .centered {
    padding-top: 150px;
}
#progress {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}
#resultMap{
    height: 322px!important;
    width:100%!important;
}
#myModal #yourPosition{
    color:red;
}
#myModal #yourPosition img, #myModal #shownPosition img{
    height: 20px;
}
#myModal #shownPosition{
    color:blue;
}
#finish .resultoverview #endResultMap{
    background-color: red;
    height: 300px!important;
    width:100%!important;
}
#finish .resultoverview .points,.totalpoints {
    font-weight: bold;
}
.article {
    background-color: black;
    position: relative;
    margin-bottom: 10px;
}
.article .bg-image {
    background-size: cover;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0.5;
    z-index: 0;
}
.article .text {
    position: relative;
    color: white;
    z-index: 2;
    padding: 10px;
}
.article .text .headline{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
.article .text .teasertext {
    margin-righ: 15px;
}
.article .text a.more{
    color: white;
    white-space: nowrap;
}
#finish .resultoverview .article.template .bg-image {
    background: url(http://www.dw.de/image/0,,17859820_303,00.jpg) center center;
}
#finish .resultoverview .article .headline {
    font-size: 1em;
}
#finish .resultoverview .article .teasertext {
    font-size: 0.75em;
}
#finish .resultoverview .article .more {
    font-size: 0.75em;
}
#finish .headline {
    font-size: 1.5em;
}
#finish .socialconnector {
    padding-top: 50px;
}
#finish .socialconnector .shareicons {
    padding-top: 40px;
    cursor: pointer;
}
