.navbar-inverse {
    background-color: #0098FF;
    border-color: #0098FF;
}

a {
    color: #000000;
    text-decoration: none;
}

.nav-tabs {
    border-bottom: 1px solid #0098FF;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

#credits {
    border-color: #0098FF;
}