.jumbotron {
    color: inherit;
    background-color: #FFFFFF;
}

.navbar-inverse {
    background-color: #0098FF;
    border-color: #0098FF;
}

a {
    color: #000000;
    text-decoration: none;
}

.nav-tabs {
    border-bottom: 1px solid #0098FF;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

#credits {
    border-color: #0098FF;
}


.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 5px;
}